.Home {
  height: 100vh;
  background: url(./asset/doctor.jpg);
  background-size: cover;
}

.Home h1 {
  color: white;
}

.Home p {
  color: white;
}

.Home2 {
  height: 100vh;
  background: url(./asset/doctor.jpg);
  background-size: cover;
}

.Home2 h1 {
  color: white;
}

.Home2 p {
  color: white;
}

.content {
  height: 100vh;
}

.Popular {
  height: 50vh;
}

.popular-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.popular-top p {
  color: black;
  cursor: pointer;
}

.movie-container {
  gap: 1rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.movie-wrapper {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
}

.movie-wrapper :hover {
  box-shadow: 0 8px 20px 0 rgb(0, 0, 0.4, 0.8);
}

.movie-search {
  padding: 8px;
  width: 30rem;
  background-color: transparent;
  border-radius: 8px;
  color: rgb(247, 74, 74);
  border: 1px solid rgb(253, 111, 111);
}

.movie-image {
  height: 50%;
  width: 70%;
}

.movie-title {
  text-align: center;
  font-weight: 700;
  margin-top: 16px;
  margin-bottom: 8x;
  height: 24px;
}

.movie-rate {
  font-weight: 700;
  color: red;
  padding: 8px;
  font-weight: 600;
  text-decoration: underline;
}

.Register {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.Register h2 {
  color: rgb(248, 71, 71);
  margin-bottom: 2rem;
}
.Register p {
  color: rgb(104, 103, 103);
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.registerButton {
  display: flex;
  margin: 2rem;
  flex-direction: column;
  justify-content: space-between;
}

.registerForm {
  width: 30rem;
}

.Login {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.Login h2 {
  color: rgb(248, 71, 71);
  margin-bottom: 2rem;
}
.Login p {
  color: rgb(104, 103, 103);
  margin-top: 1rem;
}

.buttonLogin {
  margin-right: 1rem;
}

.loginForm {
  width: 30rem;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.inputLoginEmail {
  padding: 0.4rem;
  margin-bottom: 1.3rem;
  margin-top: 0.5rem;
  width: 30rem;
  border-radius: 6px;
}

.inputLoginPassword {
  padding: 0.4rem;
  margin-bottom: 0.8rem;
  margin-top: 0.5rem;
  width: 30rem;
  border-radius: 6px;
}
.loginForm label {
  font-size: 1.3rem;
  display: flex;
  align-self: flex-start;
}
.radioButton {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  margin-left: 1rem;
}

.signInGoogle {
  align-items: center;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}
